{% extends 'base.html' %}

{% block title %}
  {{ todo.name }}
{% endblock title %}
{% block content %}
  <main>
    <div>
      <h1>{{ todo.name }}</h1>
      <p>
        <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
      </p>
      <p>
        <a href="{% url 'todo_list_delete' todo.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for todo_item in todo.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a>
              </td>
              <td>{{ todo_item.due_date|date:"F j, Y" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
